// variables de colores, tamaños de fuentes, texto, etc

$bodyBackgroundColor: #fdfdfd;
$headerBackgroundColor: #961a629f;
// color anterior $headerBackgroundColor: ;
$cardsBackgroundColor: #4ddbbab7;
$blockActivitiesBackgroundColor: #c0fa638c;
$aboutBackgroundColor: #fdfdfd;
$aboutObjetivesBackgroundColor: #fdfdfd;
$formBackgroundColor: #c0fa638c;
