// variables de colores, tamaños de fuentes, texto, etc

$bodyBackgroundColor: #fdfdfd;
$headerBackgroundColor: #a3a3679f;
// color anterior $headerBackgroundColor: #93a88c9f;
$cardsBackgroundColor: #869c97ab;
$blockActivitiesBackgroundColor: #869c978c;
$aboutBackgroundColor: #fdfdfd;
$aboutObjetivesBackgroundColor: #fdfdfd;
