.about__section {
  height: 30rem;
  background-color: $aboutBackgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.about__section--2 {
  @extend .about__section;
  height: 25rem;
  background-color: $aboutObjetivesBackgroundColor; 
}
