.about__section {
  height: 30rem;
  background-color: rgba(139, 114, 139, 0.329);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.about__section--2 {
  @extend .about__section;
  height: 25rem;
  background-color: rgba(92, 86, 89, 0.192);
}
